#toolWidget {
    background: white;
}
QToolButton {
    width: 40px;
    height: 30px;
    border-style: flat;
    background: transparent;

}
#addBtn {
    border-image: url(:/Download/Resources/PureFlat_Small.bmp) 0 462 0 0;
}
/* 继续 */
#stopBtn {
    border-image: url(:/Download/Resources/PureFlat_Small.bmp) 0 420 0 42;
}
/* 停止 */
#stopBtn:checked {
    border-image: url(:/Download/Resources/PureFlat_Small.bmp) 0 378 0 84;
}
#stopAllBtn {
    border-image: url(:/Download/Resources/PureFlat_Small.bmp) 0 336 0 126;
}
#delBtn {
    border-image: url(:/Download/Resources/PureFlat_Small.bmp) 0 294 0 168;
}
#delAllBtn {
    border-image:  url(:/Download/Resources/PureFlat_Small.bmp) 0 252 0 210;
}